header {
    background-color: #333333;
    color: #df920d;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-content {
    display: flex;
    align-items: center;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-link {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px;
    height: auto;
    cursor: pointer;
  }
  
  .title {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  nav {
    display: flex;
    align-items: right;
  }
  
  .menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-left: 20px;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
  }
  
  .menu a.active {
    font-weight: bold;
  }